.profile {
  align-items: center;
  margin: 40px auto 36px;
  max-width: 880px;
  display: flex;
}
.profile__info {
  display: grid;
  padding-left: 22.5px;
  margin: 0;
  align-items: baseline;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 16px 18px;
}
.profile__image {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}
.profile__description {
  flex-grow: 1;
  min-width: 0;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  max-width: 400px;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  margin: 0;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}
.profile__add-button {
  padding: 14px 64px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  border: #ffffff solid 2px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  background-image: url(../images/vector.svg);
  transition: opacity 0.2s linear;
  background-position: center;
}
.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.1s;
}
.profile__edit-button {
  background: url(../images/edit-icon.svg) center no-repeat transparent;
  width: 24px;
  height: 24px;
  border: #ffffff solid 1px;
  margin: 0;
  background-size: 10px 10px;
  padding: 0;
  grid-area: button;
  cursor: pointer;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 621px) {
  .profile {
    padding: 0;
    margin: 43px 0 36px;
    flex-direction: column;
    text-align: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 29px 0 33px 0;
    max-width: 320px;
    gap: 14px 10px;
  }
  .profile__title {
    font-size: 22px;
    max-width: 222px;
    line-height: 20px;
  }
  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
  .profile__add-button {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .profile__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding-top: 40px;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
    max-width: calc(100% - 38px);
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
