.profile {
  align-items: center;
  padding: 40px 0 32px;
  margin: 0 auto;
  max-width: 880px;
  color: #fff;
  display: flex;
  }
  .profile__info {
  display: grid;
  align-items: baseline;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto,373px) auto;
  gap: 20px 17px;
  }
  .profile__image {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  }
  .profile__description {
  flex-grow: 1;
  min-width: 0;
  font-size: 14px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  max-width: 282px;
  text-align: left;
  }
  .profile__title {
  max-width: 400px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  }
  .profile__add-button {
  padding: 14px 64px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  border: #ffffff solid 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
  background-image: url(../images/add-icon.svg);
  transition: opacity 0.2s linear;
  }
  .profile__add-button:hover {
  opacity: 0.6;
  transition: 0.1s;
  }
  .profile__edit-button {
  background: url(../images/edit-icon.svg) center no-repeat transparent;
  width: 24px;
  height: 24px;
  grid-area: button;
  align-self: center;
  border: #ffffff solid 1px;
  margin: 0;
  background-size: 8px 8px;
  padding: 0;
  cursor: pointer;
  /* display: inline-block; */
  /* background-size: 10px 10px; */
  }
  .profile__edit-button-vector {
  width: 10px;
  height: 10px;
  }
  .profile__edit-button:hover {
  opacity: 0.6;
  }
  @media screen and (max-width: 880px) {
    .profile__picture {
      margin-left: 10px;
      margin-bottom: 35px;
    }
    .profile__add-button {
        margin-right: 19px;
      }
    .profile__edit-button {
        margin: 0;
        align-self: flex-start;
        margin-top: 4px;
      }
      .profile__info {
        margin-left: 19px;
        grid-template-columns: auto;
      }
    }
    

    @media screen and (max-width: 900px) {
      .profile__button {
        margin-left: 10px;
        margin-bottom: 35px;
      }
    }
    @media screen and (max-width: 595px) {
      .profile {
        flex-direction: column;
        padding: 0;
        margin: 42px 19px 36px 19px;
      }
    }
      
  /* @media screen and (max-width: 320px) {
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .profile__title {
    flex-basis: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  .profile__edit-button {
    align-self: flex-start;
    margin-left: auto;
  }
  .profile__image {
    margin: 0 auto;
  }
} */